:root{
    --primary-color:#0B132A;
    --second-text-color:#4F5665;
    --header-color:#F6F6F6;
    --butoon-color:#F53838;
    --text-color:#140B2A;
    --light-color:#FFFFFF;
    --box-shadow:#db3d3d33;
    --icons:#FFECEC;
}
body{
    margin:0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    background-color: var(--header-color);
}
header{
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}
header>nav {
        display: flex !important;
        justify-content: space-evenly;
        align-items: center;
        
}
header>nav>div:nth-child(1){
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 125%;
    font-weight: bold;
    color: var(--primary-color);
    padding: 0px 0.7px
}
header>nav>div:nth-child(2)>ul{
    list-style: none;
    display: flex;
    
}
header>nav>div:nth-child(2)>ul>li>a{
    font-size: 100%;
    color: var(--second-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 45px;
    text-decoration: none;
}
header>nav>div:nth-child(3){
    display: flex;
    align-items: space-between;
}
header>nav>div:nth-child(3)>h2{
    color: var(--text-color);
    font-size: 100%;
    width: 100px;
    height: 19px;
}


.btn{ 
    border-radius: 30px;
    padding: 10px 36px 10px 36px;
    background-color: white;
    color: var(--butoon-color);
    border: 2px solid var(--butoon-color);
    font-size: 100%;
}

.containerprincipal>div{
    height: 700px;
    display: grid;
    grid-template-columns: 50% 50%;
}
.containerprincipal>div>div:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.containerprincipal>div>div:first-child>h1{
    font-size: 312.5%;
    color: var(--primary-color);
    width: 555px;
    height: 140px;
    top: 196.66px;
    left: 89px;
}
.containerprincipal>div>div:first-child>p{
    font-size: 100%;
    color: var(--second-text-color);
}
.containerprincipal>div>div:first-child>button{
    background-color: var(--butoon-color);
    color:var(--light-color);
    font-size: 100%;
    padding: 20px 60px 20px 60px;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: start;
    box-shadow: 0px 20px 10px 10px var(--box-shadow);
}
.containerprincipal>div>div:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.item-container{
    height: 200px;
    width: 1140px;
    top: -4115px;
    padding: 35px 40px 35px 40px;
    left: -1497px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly ;
    align-items: center;
    background-color: var(--light-color);
}
.item{
    display: flex;
    justify-content: center;
    flex-direction: center;
    align-items:center;
    margin: 20px 20px ;
}
.item>div>h3{
    font-size: 156.25%;
    color: var(--primary-color);
}
.item>div>h2{
    font-size: 125%;
    color: var(--second-text-color);
}
.item>span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: var(--icons);
    border-radius: 50%;
}
.item>span>svg{
    display: flex;
    justify-content: center;
    align-items: center;
    stroke:var(--butoon-color) ;
    fill: var(--butoon-color);
}
.detail{
    margin: 40px 20px 40px 20px;
}
.container1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.container1>div:last-child>h1{
    font-family: "Rubik",sans-serif;
    font-size: 218.75%;
    color: var(--primary-color);
}
.container1>div:last-child>p{
    font-size: 100%;
    font-family: "Rubik",sans-serif;
    color: var(--second-text-color);
}
.container1>div:last-child>ul>li{
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: start;
  
}
.container1>div:last-child>ul>li>a{
    font-size: 87.5%;
    font-family: "Rubik",sans-serif;
    text-decoration: none;
    color:var(--second-text-color);
}
.container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container2>div:first-child{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container2>div:first-child>h1{
    font-family: "Rubik",sans-serif;
    font-size: 218.75%;
    color: var(--primary-color);
    display: flex;
    justify-content: center;

}
.container2>div:first-child>p{
    font-family: "Rubik",sans-serif;
    font-size: 100%;
    color: var(--second-text-color);
    display: flex;
    justify-content: center;

}
.items-boxs{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}
.items{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0 100px 0 100px;
}
.items>div>ul>li{
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    padding-left: 16px;
}
.items>div>ul>li>a{
    font-size:87.5% ;
    color: var(--second-text-color);
    font-family: "Rubik",sans-serif;
}
.items>div>img{
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin: 35px;
}
.items>div>h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 112.5%;
    font-family: "Rubik",sans-serif;
    color: var(--primary-color);
}
.items>div>h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 156.25%;
    font-family: "Rubik",sans-serif;
    color: var(--primary-color);
}
.items>div>div>button{
    border-radius: 30px;
    padding: 10px 36px 10px 36px;
    background-color: white;
    color: var(--butoon-color);
    border: 2px solid var(--butoon-color);
    font-size: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
}
.buttn{
    background-color: var(--butoon-color);
    color:var(--light-color);
    font-size: 100%;
    padding: 10px 36px 10px 36px;
    border: 2px solid var(--butoon-color);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    padding: 0px 70px;
    padding-bottom: 40px;
    background-color: antiquewhite;
}
footer>div{
    display: flex;
    flex-direction: column;
}
footer>div:nth-child(1)>div:first-child>div{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
}
footer>div:nth-child(1)>div:first-child>div>h3{
    font-size: 125%;
    color: var(--primary-color);
    font-family: "Rubik", sans-serif;
}
footer>div:nth-child(1)>div:first-child>p{
    font-size: 100%;
    color: var(--second-text-color);
    font-family: "Rubik", sans-serif;
}
footer>div:nth-child(1)>div:last-child >span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: var(--icons);
    border-radius: 50%;     
}
footer>div:nth-child(1)>div:last-child>span>svg{
    display: flex;
    justify-content: center;
    align-items: center;
    stroke:var(--butoon-color) ;
    fill: var(--butoon-color);
}
footer>div:nth-child(2){
    display: flex;
}


